<div class="container">
  <header class="blog-header text-center">
  <h1>Blockchain Matters</h1>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Blog', posts_path %>
    </nav>
  </div>